#main_menu {
    margin-left: 0;
    list-style: none;
}

#main_menu button{
    display:none;
    padding:0 10px;
}

#main_menu button input{
    display: none;
}

#main_menu button span,
#main_menu button:before,
#main_menu button:after{
    display: block;
    font-size:0;
    content:'';
    width: 33px;
    height: 3px;
    margin: 4px 0;
    position: relative;
    background: #666666;
    border-radius: 3px;
    z-index: 1;
    transition:all 0.5s;
}



#main_menu button
{
    display:block;
    height:60px;
    border:0 !important;
    box-shadow: none  !important;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    background: none;
}

#main_menu button:before
{
    transform-origin: 0% 0%;
}

#main_menu button:after
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#main_menu input:checked ~ button:before
{
    opacity: 1;
    transform: rotate(45deg) translate(-1px, -8px);
}
#main_menu input:checked ~ button span
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#main_menu input:checked ~ button:after
{
    opacity: 1;
    transform: rotate(-45deg) translate(2px, 4px);
}

#main_menu > input{
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

.web_page_body .drop_down_menu.drop_down_menu_left,
#pop_up_menu{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.web_page_body .drop_down_menu.drop_down_menu_left ul,
#pop_up_menu ul{
    width:100% !important;
    box-sizing: border-box;
    margin: 0;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li ul,
#pop_up_menu > ul > li > ul > li ul,
.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul ul,
#pop_up_menu > ul > li > ul > li > ul ul{
    position:static;
    left:auto;
    right:auto;
    padding: 0 0 0 15px;
    margin:0;
    background:transparent;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown.clicked:after,
#pop_up_menu > ul > li > ul li.dropdown.clicked:after {
    content: '\25BC';
}
.web_page_body .drop_down_menu.drop_down_menu_left:hover ul, #pop_up_menu:hover ul {
    display: block;
    width: 100%;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul,
#pop_up_menu > ul > li > ul{
    display:none;
    position:absolute;
    background:rgba(255,255,255,1);
    border:0px;
    width:100%;
    min-width:160px;
    border-radius:0;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li,
#pop_up_menu > ul > li > ul > li{
    display:block;
    float:none;
    position:relative;
    vertical-align:top;
    padding:0;
    border-bottom:0;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li a,
#pop_up_menu > ul > li > ul > li a{
    display:block;
    box-sizing: border-box;
    padding:8px 12px;
    height:auto;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li.active,
#pop_up_menu > ul > li > ul > li.active,
.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li:hover,
#pop_up_menu > ul > li > ul > li:hover{
    border-bottom:0;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.active > a,
#pop_up_menu > ul > li > ul  li.active > a,
.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul  li > a:hover,
#pop_up_menu > ul > li > ul  li > a:hover{
    border-bottom:0;
    border-right:5px solid #ff8000;
}



.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li ul,
#pop_up_menu > ul > li > ul > li ul{
    position:absolute;
    left:100%;
    top:0;
    background:#fff;
    min-width:160px;
    border-radius:0;
    border:0px;
    padding: 0 0 0 15px;
}


.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li ul li,
#pop_up_menu > ul > li > ul > li ul li,
.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul > li li,
#pop_up_menu > ul > li > ul > li > ul > li li{
    padding: 0;
    position:relative;
    background:transparent;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul ul:before,
#pop_up_menu > ul > li > ul > li > ul ul:before{
    display:none;
}


.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li ul li:last-child,
#pop_up_menu > ul > li > ul > li ul li:last-child{
    padding-bottom:0;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul,
#pop_up_menu > ul > li > ul > li > ul{
    display:none !important;
    position:absolute;
    padding: 0;
    background:#ffffff;
    border-top:4px solid #ff8000;
    border-radius: 0;
    min-width:200px;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul ul,
#pop_up_menu > ul > li > ul > li > ul ul{
    display:none !important;
    position: absolute;
    top: 0;
    left: 100%;
    background: #fff;
    min-width: 160px;
    box-sizing:border-box;
    border-radius: 0;
    padding:0;

}
.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul,
#pop_up_menu > ul > li > ul > li > ul{
    border-top:0;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul  li,
#pop_up_menu > ul > li > ul > li > ul li{
    padding: 0;
    background:transparent;
    position:relative;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul li li,
#pop_up_menu > ul > li > ul > li > ul li li{
    padding: 0 0 0 15px;
    background:transparent;
    position:relative;
}


.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown a,
#pop_up_menu > ul > li > ul li.dropdown a{
    padding-right:40px;
    box-sizing:border-box;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown:after,
#pop_up_menu > ul > li > ul li.dropdown:after{
    position:absolute;
    top:0;
    right:0;
    content:'\25BA';
    font-size:75%;
    text-align:center;
    padding-right:10px;
    cursor:pointer;
    color:#dddddd;
    z-index:10;
    width:30px;
    height:36px;
    line-height:36px;
    display: none;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown.clicked:after,
#pop_up_menu > ul > li > ul li.dropdown.clicked:after{
    content:'\25BC';
    color:#ff8000;
}


.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown > ul,
#pop_up_menu > ul > li > ul li.dropdown > ul{
    display:none;
    position:static;
    padding-left:15px;
    box-sizing:border-box;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown.clicked > ul,
#pop_up_menu > ul > li > ul li.dropdown.clicked > ul{
    display:block !important;
    border-radius:0;
}

.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown.inverse > ul,
#pop_up_menu > ul > li > ul li.dropdown.inverse > ul {
    left: auto;
    right: 0;
}


.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown.inverse > ul ul,
#pop_up_menu > ul > li > ul li.dropdown.inverse > ul ul {
    left: auto;
    right: 100%;
}



.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.inverse li.dropdown.clicked:after,
#pop_up_menu > ul > li > ul li.inverse li.dropdown.clicked:after,
.web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.inverse li.dropdown:hover:after,
#pop_up_menu > ul > li > ul li.inverse li.dropdown:hover:after {
    content:'\25C0';
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu input ~ ul{
    display:none !important;
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu input:checked ~ ul{
    display:block !important;
    box-shadow: 0px 4px 4px rgba(0,0,0,.3);
}

.web_page_body .drop_down_menu.drop_down_menu_left li.mobile-only{
    display:none;
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu .optional {
    display: none;
}

@media screen and (min-width: 37em) and (min-width: 640px){
    /* phone in landscape mode, large tablet in portrait mode */

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li a,
    #pop_up_menu > ul > li > ul > li a{
        box-sizing: border-box;
        padding:8px 12px;
        height:auto;
        font-size: 18px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul,
    #pop_up_menu > ul > li > ul > li > ul{
        top: 0;
        left: 100%;
        margin:0;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul li,
    #pop_up_menu > ul > li > ul > li > ul li {
        padding: 0;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul li li,
    #pop_up_menu > ul > li > ul > li > ul li li {
        padding: 0;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown:after,
    #pop_up_menu > ul > li > ul li.dropdown:after {
        display: none;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown  ul,
    #pop_up_menu > ul > li > ul li.dropdown  ul{
        /*position:absolute;*/
        /*padding:0;*/
        /*background:#ffffff;*/
        /*z-index:100;*/
        /*box-shadow: 0px 4px 4px rgba(0,0,0,.3);*/
        /*border-radius: 0px 0px 8px 8px;*/
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown ul ul,
    #pop_up_menu > ul > li > ul li.dropdown ul ul{
        border-radius: 8px;
    }



    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul,
    #pop_up_menu > ul > li > ul{
        width:auto;
    }
    .web_page_body .drop_down_menu.drop_down_menu_left ul, #pop_up_menu ul {
        width: auto !important;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li ul,
    #pop_up_menu > ul > li > ul > li ul,
    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul ul,
    #pop_up_menu > ul > li > ul > li > ul ul{
        left:100%;
        right:auto;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown.clicked:after,
    #pop_up_menu > ul > li > ul li.dropdown.clicked:after{
        content:'\25BA';
    }
}


@media screen and (max-width: 959px /* 60em - 1px */) {
    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown  ul,
    #pop_up_menu > ul > li > ul li.dropdown  ul{
        list-style: none;
        padding: 0;
        display: block!important;
    }
}

@media screen and (min-width: 60em){
    /* tablet in landscape mode, laptop or desktop, may not be full screen */

    .web_page_body .drop_down_menu.drop_down_menu_left,
    #pop_up_menu{
        position:static;
        left:0;
        right:0;
        font-size:0.8em;
        clear:both;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul,
    #pop_up_menu > ul > li > ul{
        display:block;
        position:static;
        background:rgba(255,255,255,1);
        border:0;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li,
    #pop_up_menu > ul > li > ul > li{
        display:inline-block;
        float:left;
        position:relative;
        vertical-align:top;
        padding:7px 5px;
        border-bottom:4px solid transparent;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown:after,
    #pop_up_menu > ul > li > ul li.dropdown:after {
        display: block;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown  ul,
    #pop_up_menu > ul > li > ul li.dropdown  ul{
        position:absolute;
        padding:0;
        background:#ffffff;
        z-index:100;
        box-shadow: 0px 4px 4px rgba(0,0,0,.3);
        border-radius: 0px 0px 8px 8px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown ul {
        top: 100%;
        list-style: none;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown ul ul {
        top: 0;
        left: calc(100% + 1px);
        border-top: 4px solid #ff8000;
        border-radius: 0 0 8px 8px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li.active,
    #pop_up_menu > ul > li > ul > li.active,
    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li:hover,
    #pop_up_menu > ul > li > ul > li:hover{
        border-bottom:4px solid #ff8000;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li a,
    #pop_up_menu > ul > li > ul li a{
        display:block;
        height: inherit;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.active > a,
    #pop_up_menu > ul > li > ul li.active > a,
    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li a:hover,
    #pop_up_menu > ul > li > ul li a:hover{
        color:#ff8000;
        border-right:0;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li li a,
    #pop_up_menu > ul > li > ul > li li a{
        padding:0;
    }


    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li ul,
    #pop_up_menu > ul > li > ul > li ul{

        display:none !important;
        padding:0;
        border-top:0;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul li,
    #pop_up_menu > ul > li > ul > li > ul li {
        padding: 8px 12px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul ul,
    #pop_up_menu > ul > li > ul > li > ul ul{
        padding:15px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul li li,
    #pop_up_menu > ul > li > ul > li > ul li li {
        padding: 8px 12px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown:after,
    #pop_up_menu > ul > li > ul li.dropdown:after{
        width:30px;
        height:50px;
        line-height:60px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul ul li.dropdown:after,
    #pop_up_menu > ul > li > ul ul li.dropdown:after{
        width:30px;
        height:47px;
        line-height:47px;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul  li:hover > ul,
    #pop_up_menu > ul > li > ul li:hover > ul{
        display:block !important;
        display:inherit;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown:after,
    #pop_up_menu > ul > li > ul li.dropdown:after{
        content:'\25BC';
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul li.dropdown:hover:after,
    #pop_up_menu > ul > li > ul li.dropdown:hover:after{

        content:'\25BA';
        color:#ff8000;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li.dropdown:hover:after,
    #pop_up_menu > ul > li > ul > li.dropdown:hover:after,
    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li.dropdown.clicked:after,
    #pop_up_menu > ul > li > ul > li.dropdown.clicked:after{

        content:'\25BC';
    }

    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li ul li:last-child,
    #pop_up_menu > ul > li > ul > li ul li:last-child {
        padding-bottom: 12px;
    }


    .web_page_body .drop_down_menu.drop_down_menu_left > ul > li > ul > li > ul,
    #pop_up_menu > ul > li > ul > li > ul{
        top:50px;
        left:0;
        border-top:4px solid #ff8000;
    }

    .web_page_body .drop_down_menu.drop_down_menu_left #main_menu input ~ ul{
        display:block !important;
    }
    #main_menu > input{
        display: none;
    }
    #main_menu > button{
        display: none;
    }
}
