.menu_back
{
   position: relative;
   float: left;
}

.drop_down_menu *
{  
   margin: 0;
   list-style-type: none;
   line-height: normal;
}
.drop_down_menu_left
{
   position: relative;
   float: left;
   border: none;
}
.drop_down_menu_right
{
   position: relative;
   float: right;
   border: none;
}
/* menu items */
.drop_down_menu li > ul > li > a,
.drop_down_menu li > ul > li > button
{
   /* Remove all decorations to look like normal text */
   text-decoration: none;
   text-align: left;
   font: inherit;
   background: none;
   border: none;
   outline: none;
   outline-offset: 0;
   box-shadow: none;
   cursor: pointer;
   /* make the items squish up so they fit on a small screen */
   height: 35px;
   /* palette items... */
   color: #444;
}
/* menu items */
.drop_down_menu li > ul > li > a:hover,
.drop_down_menu li > ul > li > button:hover:enabled
{ 
   /* palette items... */
   color: #000;
}
.drop_down_menu li > ul > li > button:disabled
{ 
   /* palette items... */
   color: #777;
}
/*.drop_down_menu:hover ul*/
/*{*/
   /*display: block;*/
   /*width: auto;*/
/*}*/

.drop_down_menu ul li ul li a,
.drop_down_menu ul li ul li button
{ 
   border: none;
   white-space: nowrap;
   width: 100%;
}
.drop_down_menu ul li ul li ul   /* first/second/third level sub-menu */
{
   position: relative;
   padding-left: 20px;   /* indent from level above */
   box-shadow: none;
   border: none;
   display: block;
}

/*.drop_down_menu:focus ul,*/
/*.drop_down_menu:hover ul li:hover ul li:hover ul*/
/*{ */
   /*display:block;*/
/*}*/

.drop_down_menu_right:hover ul li:hover ul
{ 
   display:block;
   position: absolute;
   top: 40px;
}

.drop_down_menu_right:hover ul li:hover ul ul
{
   top: 0;
}

.drop_down_menu .active > a,
.drop_down_menu .active > button
{
   /*   padding: 4px 6px 4px 6px;    DRL FIXIT! Why do I need this in order for things to line up?? */
   /* palette items... */
   color: #000;
}


.drop_down_menu_left .optional{
   padding-left: 10px;
}

.drop_down_menu ul ul {
   display:none;
}

.drop_down_menu ul li > ul,
.drop_down_menu_right:hover ul li:hover > ul{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 40px;
   padding: 8px;
   border-radius: 0;
   overflow: auto;
   z-index: 100;
   background: #666;
   box-shadow: 0 1px 2px rgba(0,0,0,.3);
   list-style-type: none;
   border: 2px solid #666;
   text-align: left;
   /*   padding-left: 5px; */
   /*   palette items... */
   /*   box-shadow: 0 1px 2px rgba(0,0,0,.3); */
}

.drop_down_menu ul li ul ul,
.drop_down_menu_right:hover ul li:hover ul ul {
   top: 0;
}

.drop_down_menu ul li ul:after {
   content: '';
   position: absolute;
   bottom: 100%;
   width: 0; height: 0;
   border-bottom: 8px solid #666;
   border-right: 8px solid transparent;
   border-left: 8px solid transparent;
}


.drop_down_menu_right ul li ul:after{
   right: 20px;
}

.drop_down_menu_left ul li ul:after{
   left: 10px;
}


.drop_down_menu li > ul > li > a,
.drop_down_menu li > ul > li > button {
   text-decoration: none;
   text-align: left;
   font: inherit;
   background: none;
   border: none;
   outline: none;
   outline-offset: 0;
   box-shadow: none;
   cursor: pointer;
   height: 35px;
   color: #ffffff;
   opacity:0.6;
}

.drop_down_menu li > ul > li > a:hover,
.drop_down_menu li > ul > li > button:hover:enabled,
.drop_down_menu li > ul > li > a:active,
.drop_down_menu li > ul > li > button:active,
.drop_down_menu li > ul > li.active > a,
.drop_down_menu li > ul > li.active > button {
   opacity:1;
   color: #ffffff;
}

.drop_down_menu .iconsmall {
   width:24px;
   height:24px;
   margin-right:10px;
}

.drop_down_menu hr {
   background: transparent;
   border: 0;
   border-bottom: 1px solid #888;
   margin: 10px 5px;
}

@media screen and (min-width: 37em) and (min-width: 640px) and (orientation: portrait)
   /* large tablet in portrait mode */
{
   .drop_down_menu ul li ul,
   .drop_down_menu_right:hover ul li:hover ul{
      position: absolute;
      left: auto;
      right: auto;
      bottom: auto;
      top: auto;
      border-radius: 5px;
      overflow: visible;
   }

   .drop_down_menu.drop_down_menu_right ul li ul {
      right: 5px!important;
   }
}

@media screen and (min-width: 60em)         /* tablet in landscape mode, laptop or desktop, may not be full screen */ {
   .drop_down_menu ul li ul,
   .drop_down_menu_right:hover ul li:hover ul {
      position: absolute;
      left: auto;
      right: auto;
      bottom: auto;
      top: auto;
      border-radius: 5px;
      overflow: visible;
   }

   .drop_down_menu_right ul li ul,
   .drop_down_menu_right:hover ul li:hover ul {
      right: 5px;
   }
}



nav.horizontal_menu > ul,
nav.horizontal_menu > ul li ul
{
/*     float: right; */
   list-style-type: none;
}

nav.horizontal_menu > ul > li 
{
   text-align: center;
   line-height: 40px;
/*     margin-left: 70px; */
}

nav.horizontal_menu > ul li ul li 
{
/*   width: 100%; */
/*   text-align: left; */
}

nav.horizontal_menu ul li:hover 
{
   cursor: pointer;
/*   position: relative;*/
}
nav.horizontal_menu ul li:hover > ul 
{
     display: block;
}
nav.horizontal_menu ul li:hover > a 
{
   color: #000;
}
nav.horizontal_menu > ul > li > a 
{
   cursor: pointer;
   display: block;
   outline: none;
   width: 100%;
   text-decoration: none;
}

nav.horizontal_menu > ul > li 
{
/*     float: left; */
   display: inline-block;
}
nav.horizontal_menu a 
{
/*     color: white; */
   padding-left: 20px;
   padding-right: 20px;
}

nav.horizontal_menu > ul li ul 
{
     display: none;
/*     position: absolute;
   left: 0;
   top: 100%;
   width: 100%;
   z-index: 2000;*/
}

nav.horizontal_menu > ul li ul li > a 
{
     text-decoration: none;
}

nav.horizontal_menu > ul li ul li a,
nav.horizontal_menu > ul li ul li button
{ 
   border: none;
   white-space: nowrap;
   width: 100%;
}
nav.horizontal_menu > ul li ul   /* first/second/third level sub-menu */
{
   padding-left: 20px;   /* indent from level above */
}
nav.horizontal_menu > ul li ul li ul   /* first/second/third level sub-menu */
{
   position: relative;
   padding-left: 20px;   /* indent from level above */
   box-shadow: none;
   border: none;
}

nav.horizontal_menu > ul li:hover ul,
nav.horizontal_menu > ul li:hover ul li:hover ul
{ 
   display:block;
   /* DRL FIXIT! This is broken */
   z-index: 2000;
}

nav.horizontal_menu > [type="checkbox"], 
nav.horizontal_menu > label 
{
   display: none;
}

@media screen and (max-width: 768px) 
{
   nav.horizontal_menu ul 
   {
      display: none;
   }

   nav.horizontal_menu > label 
   {
      display: block;
      background: #222;
      width: 40px;
      height: 40px;
      cursor: pointer;
/*        position: absolute;
      right: 20px;
      top: 0px;
*/
   }
  
   nav.horizontal_menu > label:after
   {
      content:'';
      display: block;
      width: 30px;
      height: 5px;
      background: #555;
      margin: 7px 5px;
      box-shadow: 0px 10px 0px #555, 0px 20px 0px #555
   }

   nav.horizontal_menu > [type="checkbox"]:checked ~ ul 
   {
      display: block;
      z-index: 9999;
      position: absolute;
      right: 20px;
      left: 20px;
   }

   nav.horizontal_menu a 
   {
      color: #00F;
   }

   nav.horizontal_menu ul li 
   {
      display: block;
      float: none;
      width: 100%;
      text-align: left;
      background: #222;
      text-indent: 20px;
   }

   nav.horizontal_menu > ul > li 
   {
      margin-left: 0px;
   }

   nav.horizontal_menu > ul li ul li 
   {
      display: block;
      float: none;
   }
  
   nav.horizontal_menu > ul li ul 
   {
      display: block;
      position: relative;
      width: 100%;
      z-index: 9999;
      float: none;
   }
}


/* style for client.htm */

#main_menu > input {
   width: 102px!important;
   height: 40px;
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   cursor: pointer;
   opacity: 0;
   z-index: 2;
   -webkit-touch-callout: none;
}

#main_menu > button {
   display: block;
   height: 40px;
   border: 0 !important;
   box-shadow: none !important;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
   background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
   opacity 0.55s ease;
   background: none;
   margin: 0;
   padding: 0 60px 0 10px;
}

#main_menu:after {
   position: absolute;
   content: '';
   right: -11px;
   width: 1px;
   height: 30px;
   top: 5px;
   background-color: rgba(255,255,255,0.4);
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#main_menu > button:before {
   transform-origin: 0% 0%;
}
#main_menu > button:after {
   transform-origin: 0% 100%;
}
#main_menu > button .line, #main_menu > button:before, #main_menu > button:after{
   display: block;
   font-size:0;
   content:'';
   width: 32px;
   height: 3px;
   margin: 4px 0;
   position: relative;
   background: #fff;
   border-radius: 3px;
   z-index: 1;
   transition:all 0.5s;
   padding: 0;
}
#main_menu input:checked ~ button:before {
   opacity: 1;
   transform: rotate(45deg) translate(2px, -7px);
}
#main_menu input:checked ~ button .line {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
}
#main_menu input:checked ~ button:after {
   opacity: 1;
   transform: rotate(-45deg) translate(2px, 7px);
}

#main_menu input:checked ~ button {
   background-color: #1493c7;
}

#main_menu input ~ ul {
   display: none !important;
}
#main_menu input:checked ~ ul {
   display: block !important;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
}

#main_menu .optional {
   position: absolute;
   left: 50px;
   line-height: 40px;
   top: 0;
}

.drop_down_menu_left ul li ul:after {
   left: 15px;
}

@media screen and (max-width: 959px /* 60em - 1px */) {

}

@media screen and (max-width: 639px) {
   .web_page_body .drop_down_menu.drop_down_menu_left,
   #pop_up_menu {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
   }

   #main_menu > input {
      width: 42px!important;
      margin: 0;
   }

   #main_menu button {
      padding: 0 5px;
   }

   .drop_down_menu_left ul li ul:after {
      left: 11px;
   }
}

/* style for client.htm */


.web_page_body .drop_down_menu.drop_down_menu_left #main_menu > input {
   width: 110px!important;
   height: 60px;
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu button {
   height: 60px;
   padding: 0 45px 0 15px;
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu:after {
   display: none;
}


/* dropdown style */

.web_page_body .drop_down_menu.drop_down_menu_left ul li ul {
   position: absolute;
   left: auto;
   right: auto;
   bottom: auto;
   top: auto;
   border-radius: 5px;
   overflow: visible;
}

.web_page_body .drop_down_menu.drop_down_menu_left ul li ul ul {
   position: relative;
   padding-top: 0;
   padding-bottom: 0;
}

.web_page_body .drop_down_menu.drop_down_menu_left ul li ul:after {
   left: 20px;
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu > ul > li a {
   line-height: 35px;
   font-size: 17px;
   padding: 0 5px;
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu input:checked ~ button {
   background-color: white;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu button .line,
.web_page_body .drop_down_menu.drop_down_menu_left #main_menu button:before,
.web_page_body .drop_down_menu.drop_down_menu_left #main_menu button:after{
   background: #666666;
}

.web_page_body .drop_down_menu.drop_down_menu_left #main_menu .optional {
   position: absolute;
   left: 50px;
   line-height: 20px;
   top: 21px;
}

@media screen and (max-width: 959px /* 60em - 1px */) {

   .web_page_body .drop_down_menu.drop_down_menu_left {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
   }

   .web_page_body .drop_down_menu.drop_down_menu_left #main_menu > input {
      width: 60px!important;
   }

   .web_page_body .drop_down_menu.drop_down_menu_left #main_menu button {
      padding: 0 15px;
   }

   .web_page_body .drop_down_menu.drop_down_menu_left #main_menu .optional {
      display: none;
   }
}

/* style for client.htm */

#sub_menu > input {
   width: 98px!important;
   height: 40px;
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   cursor: pointer;
   opacity: 0;
   z-index: 2;
   -webkit-touch-callout: none;
}

#sub_menu input:checked ~ button {
   background-color: #1493c7;
}

#sub_menu input ~ ul {
   display: none !important;
}
#sub_menu input:checked ~ ul {
   display: block !important;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
}
